USE [master]
GO
/****** Object:  Database [Homework4]    Script Date: 14.12.2019 16:53:33 ******/
CREATE DATABASE [Homework4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Homework4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.BARTKOWIAKSQL\MSSQL\DATA\Homework4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Homework4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.BARTKOWIAKSQL\MSSQL\DATA\Homework4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Homework4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Homework4]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14.12.2019 16:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 14.12.2019 16:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Clients] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Films]    Script Date: 14.12.2019 16:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Films](
	[FilmId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[YearOfProduction] [int] NOT NULL,
	[MinAge] [int] NOT NULL,
	[Is3D] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Films] PRIMARY KEY CLUSTERED 
(
	[FilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderTickets]    Script Date: 14.12.2019 16:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderTickets](
	[OrderTIcketId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[FilmId] [int] NOT NULL,
	[TicketId] [int] NOT NULL,
	[Day] [datetime] NOT NULL,
	[Row] [nvarchar](max) NOT NULL,
	[Place] [int] NOT NULL,
	[Vip] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.OrderTickets] PRIMARY KEY CLUSTERED 
(
	[OrderTIcketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 14.12.2019 16:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[Discount] [nvarchar](max) NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Tickets] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogins]    Script Date: 14.12.2019 16:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogins](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.UserLogins] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientId], [Name], [Surname]) VALUES (1, N'Mateusz', N'Bartkowiak')
INSERT [dbo].[Clients] ([ClientId], [Name], [Surname]) VALUES (2, N'Jan', N'Kowalski')
INSERT [dbo].[Clients] ([ClientId], [Name], [Surname]) VALUES (3, N'def', N'fefef')
SET IDENTITY_INSERT [dbo].[Clients] OFF
SET IDENTITY_INSERT [dbo].[Films] ON 

INSERT [dbo].[Films] ([FilmId], [Name], [Type], [YearOfProduction], [MinAge], [Is3D]) VALUES (1, N'Hugo', N'Family', 2017, 8, 1)
INSERT [dbo].[Films] ([FilmId], [Name], [Type], [YearOfProduction], [MinAge], [Is3D]) VALUES (2, N'Nemo', N'Animated', 2016, 6, 0)
INSERT [dbo].[Films] ([FilmId], [Name], [Type], [YearOfProduction], [MinAge], [Is3D]) VALUES (3, N'Saw', N'Horror', 2004, 18, 0)
SET IDENTITY_INSERT [dbo].[Films] OFF
SET IDENTITY_INSERT [dbo].[OrderTickets] ON 

INSERT [dbo].[OrderTickets] ([OrderTIcketId], [ClientId], [FilmId], [TicketId], [Day], [Row], [Place], [Vip]) VALUES (4, 1, 2, 1, CAST(N'2019-12-11T14:15:00.000' AS DateTime), N'C', 7, 0)
INSERT [dbo].[OrderTickets] ([OrderTIcketId], [ClientId], [FilmId], [TicketId], [Day], [Row], [Place], [Vip]) VALUES (6, 2, 3, 1, CAST(N'2005-09-25T15:30:00.000' AS DateTime), N'B', 6, 1)
INSERT [dbo].[OrderTickets] ([OrderTIcketId], [ClientId], [FilmId], [TicketId], [Day], [Row], [Place], [Vip]) VALUES (8, 2, 3, 2, CAST(N'2005-01-01T16:00:00.000' AS DateTime), N'A', 2, 0)
SET IDENTITY_INSERT [dbo].[OrderTickets] OFF
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([TicketId], [Discount], [Price]) VALUES (1, N'Student', 15)
INSERT [dbo].[Tickets] ([TicketId], [Discount], [Price]) VALUES (2, N'Normal', 30)
SET IDENTITY_INSERT [dbo].[Tickets] OFF
SET IDENTITY_INSERT [dbo].[UserLogins] ON 

INSERT [dbo].[UserLogins] ([UserId], [UserName], [Password]) VALUES (1, N'Mati', N'l')
INSERT [dbo].[UserLogins] ([UserId], [UserName], [Password]) VALUES (2, N'Magda', N'lol')
INSERT [dbo].[UserLogins] ([UserId], [UserName], [Password]) VALUES (3, N'Marek', N'xd')
SET IDENTITY_INSERT [dbo].[UserLogins] OFF
/****** Object:  Index [IX_ClientId]    Script Date: 14.12.2019 16:53:33 ******/
CREATE NONCLUSTERED INDEX [IX_ClientId] ON [dbo].[OrderTickets]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilmId]    Script Date: 14.12.2019 16:53:33 ******/
CREATE NONCLUSTERED INDEX [IX_FilmId] ON [dbo].[OrderTickets]
(
	[FilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TicketId]    Script Date: 14.12.2019 16:53:33 ******/
CREATE NONCLUSTERED INDEX [IX_TicketId] ON [dbo].[OrderTickets]
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderTickets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderTickets_dbo.Clients_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderTickets] CHECK CONSTRAINT [FK_dbo.OrderTickets_dbo.Clients_ClientId]
GO
ALTER TABLE [dbo].[OrderTickets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderTickets_dbo.Films_FilmId] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Films] ([FilmId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderTickets] CHECK CONSTRAINT [FK_dbo.OrderTickets_dbo.Films_FilmId]
GO
ALTER TABLE [dbo].[OrderTickets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderTickets_dbo.Tickets_TicketId] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([TicketId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderTickets] CHECK CONSTRAINT [FK_dbo.OrderTickets_dbo.Tickets_TicketId]
GO
USE [master]
GO
